.btn {
    padding: 5px 15px;
    font-size: 15px;
    line-height: 18px;
    border-radius: 6px;
    margin: 3px 5px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    position: relative;
}

.btn-link {
    color: #e64809;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
}

.invisible {
    visibility: hidden;
}

.fa {
    font-family: wp-web-icons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    border: 0;
}

img {
    vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}

a {
    background: 0 0;
}

a {
    text-decoration: none;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    overflow: auto;
}

.text-body-sm {
    font-weight: var(--font-weight-normal,400);
    font-size: var(--font-size-xs,14px);
    line-height: var(--line-height-xs,20px);
}
main{
    display: block;
}







































































