*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    font-family: var(--primary-font-face);
}

.theme-6 {
    --primary-color: var(--white-color);
    --secondary-color: var(--white-color);
    --stroke-color: var(--wp-neutral-1);
    --stroke-secondary-color: var(--wp-neutral-7);
}


/*top section*/
#top-container{
    margin-top: 68px;
}

.oDp-I {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

/*a1*/
.oDp-I .Z2TLD {
    padding: 28px 0 22px;
}

.oDp-I .Z2TLD h1 {
    color: var(--wp-neutral-1);
    font-family: var(--primary-font-face);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-semi-bold);
    line-height: var(--line-height-h1-dw);
    margin-bottom: 12px;
    margin-top: 24px;
}

/*a2*/
.mW1gw {
    border-bottom: 1px solid var(--wp-neutral-3);
    border-top: 1px solid var(--wp-neutral-3);
    display: flex;
}

.oQ0Eo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
}

.oQ0Eo a {
    -webkit-transition: all .1s ease-in-out;
    align-items: center;
    border-bottom: 3px solid transparent;
    color: var(--wp-neutral-1);
    display: flex;
    font-size: var(--font-size-20);
    height: 52px;
    line-height: var(--line-height-54);
    padding: 0 15px;
    transition: all .1s ease-in-out;
}

.oQ0Eo a.V2HPc {
    border-bottom-color: var(--wp-base-1);
    font-weight: var(--font-weight-semi-bold);
}

/*a3*/
.R-pt- {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
}

.Ku9K7 {
    display: flex;
    align-items: center;
    font-size: var(--font-size-footer);
    padding-top: 4px;
    color: var(--wp-neutral-2);
    padding-right: 6px;
}

.DsRMi {
    padding-left: 4px;
}


/*body section - where library story place*/
.rjmNd {
    font-size: var(--font-size-20);
    line-height: var(--line-height-l);
    padding: 0 20px;
    margin: 0 auto 16px;
}

.Kq9a8 {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 8px; /* 24px row-gap, 8px column-gap */
    padding: 0 0 0 20px;
    justify-content: flex-start;
    margin: 0 auto;
}

/*b1*/
/*.-ymc4 {*/
/*    margin: 12px auto 0;*/
/*    text-align: center;*/
/*}*/

/*b2*/
.aecjo {
    width: 156px;
    margin: 0 30px 24px 0; /* optional spacing between items */
    flex: 0 0 100px;
}

.first-story {
    margin-left: 0;
    padding-left: 0;
    padding-right: 20px;
    transform: translateX(-7px);
}

.libraryStoryCard__y5_Fe {
    width: 156px;
}

/*c1*/
.libraryStoryItem__Yxev4 {
    position: relative;
    float: left;
    display: flex;
    margin-bottom: 6px;
    width: 100%;
}

.coverWrapper__t2Ve8 {
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.libraryCover__zF7AM {
    width: 100%;
    display: inline-flex;
}

.cover__BlyZa {
    border-radius: 6px;
}

.libraryCover__zF7AM img {
    width: 100%;
    height: 245px;
}

/*c2*/
.progress_bar__ja0_4 {
    background-color: var(--ds-neutral-40, rgba(18, 18, 18, .12));
    border-radius: 4px;
    display: flex;
    overflow: hidden;
}

.progress_bar_value__rnwN9 {
    height: 100%;
}

.progress_bar_value__rnwN9.primary__efugz {
    background-color: var(--ds-neutral-80, rgba(18, 18, 18, .64));
}

.progress_bar_value__rnwN9.default__sk_o3 {
    background-color: var(--ds-neutral-40, rgba(18, 18, 18, .12));
}

.progress_bar_value__rnwN9.success__BzCzJ {
    background-color: var(--ds-base-7-accent, #51a800);
}

/*c3*/
.authorWrapper__u0RFS {
    display: flex;
    margin-top: 12px;
    align-items: center;
    width: 100%;
}

.authorSection__GVjjz {
    max-width: 118px;
    width: 118px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 4px;
}

.authorSection__GVjjz strong {
    display: block;
    font-weight: 600;
    color: #222;
    line-height: 18px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.authorSection__GVjjz small {
    color: #6f6f6f;
}

.avatar__Ygp0_ {
    border-radius: 50%;
    display: block;
    background-color: #eee;
}

.avatar_sm__zq5iO {
    width: 32px;
    height: 32px;
}

/*c4*/
.statsWrapper__DqAW0 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.stats_wrapper__THA2S {
    padding: 0 16px 0 0;
    display: flex;
    align-items: center;
}

.stats-label__text__VzfuV {
    font-size: 16px;
    padding-left: 6px;
    color: #6f6f6f;
}
